@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Rye&display=swap');

body {
    background-color: #3b1432;
    color: #f3e5f5;
}

section {
    background-color: #4a1c3e;
    padding: 25px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 1000px;
}

h1 {
    color: #A82C6D;
    font-size: 50px;
    text-align: center;
    font-family: "Rye", serif;
    font-weight: 10;
    font-style: normal;
}

h1 .sub-titulo {
    color: #eb6b26; 
    display: block;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 5px;
    font-family: "Rye", serif;
}
h2 {
    color: #ffb703;
    display: block;
    font-size: 24px;
    letter-spacing: 1.5px;
    margin-bottom: 15px;
    font-family: "Domine", serif;
}

h3 {
     color: #fff200; 
     display: block;
    font-size: 18px;
    letter-spacing: 1.5px;
    margin-bottom: 15px;
     font-family: "Domine", serif;
}

p {
    color: #f3e5f5;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
    font-family: "Domine", sans-serif;
}

header {
    background-color: #2b0b24;
    color: #ffb703;
    padding: 20px;
    text-align: center;
}

nav p a {
    color: #ffffff;
    text-decoration: none;
    background-color: #d94e1f;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 15px auto;
    border-radius: 8px;
    border: 3px solid #ffb703;
}

a {
    color: #039eff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #e056fd;
    text-decoration: underline;
}

.secciondividida {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin: 40px 0;
}

.secciondividida .texto {
    flex: 1;
}

.secciondividida .imagen {
    flex: 1;
    text-align: center;
}