body {
    background-color: #3b1432;
    color: #f3e5f5;
}

section {
    background-color: #4a1c3e;
    padding: 25px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 900px;
}

h1 {
    color: #A82C6D;
    font-size: 40px;
    text-align: center;
}

h1 .sub-titulo {
    color: #eb6b26; 
    display: block;
    font-size: 25px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}
h2 {
    color: #ffb703;
}

h3 {
     color: #fff200; 
}