@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body{
    background-color: #849de0;
    margin: 0rem;
}

h1{
    color: #688cc2; /*comentario*/
    font-size: 9rem;
    background-color: #520867;
    font-family: "Betania Patmos", cursive;
    font-weight: 200;
    font-style: normal;
}

h1, h2, h3, h4, h5{
    font-style: oblique;
    font-size: 5rem;
    background-color: #e68381;
    text-align: center;
    color: #5871ed;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*
h3{
    text-decoration: underline;
    font-size: 3rem;
    text-align: right;
    color: #4e63ca;
}

h4{
    color:#b3ceae;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: wavy;
}

h5{
    color:#b3ceae;
    
}*/

h6{
    color: #9268c2;
    font-size: 9rem;
    background-color: #6f1688;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, cursive;
    font-weight: 400;
    font-style: normal;
}

p{
    font-size: 1.5rem;
}

.flex{
    display: flex;
    justify-content:center;
    flex-direction: column;
}
.fondoverde{
    width: 30%;
    background-color: #28df22;
    margin-top: 3rem;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 4rem;
}

.fondonaranja{
    width: 50%;
    background-color: #dfa022;
    margin-top: 3rem;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 4rem; 
}